We need to talk about append, extend, remove & delete method of list

In [ ]:
# List Method (Add & Remove)

a = ["a", "b", "c", "d", "e", "f", "g"]
print(a)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
a = ["a", "b", "c"]
a.append("d")
print(a)

['a', 'b', 'c', 'd']

In [ ]:
a = ["Hello", "How are you?"]
a.append("Ayan")
print(a)

['Hello', 'How are you?', 'Ayan']

In [ ]:
a = ["a", "b", "c"]
b = ["d", "e", "f"]
print(a)
a.extend(b)
print(a)

['a', 'b', 'c']
['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
a = ["a", "b", "c"]
b = ["ayan"]
print(a)
a.extend(b)
print(a)

['a', 'b', 'c']
['a', 'b', 'c', 'ayan']

In [ ]:
a = ["a", "b", "c"]
b = ["d", "e", "f"]
print(a)
a.extend("ayan")
print(a)

['a', 'b', 'c']
['a', 'b', 'c', 'a', 'y', 'a', 'n']

In [ ]:
a = ["a", "b", "c"]
# print(a)
a.remove("b")
print(a)

['a', 'c']

In [ ]:
a = ["a", "b", "c"]
a.pop(1)
print(a)

['a', 'c']

In [ ]:
a = ["a", "b", "c"]
a.pop()
print(a)

['a', 'b']

In [ ]:
a = ["a", "b", "c"]
a.pop(2)
print(a)

['a', 'b']

In [ ]:
a = ["a", "b", "c"]
del a[1]
print(a)

['a', 'c']

In [ ]:
a = ["a", "b", "c"]
del a[2]
print(a)

['a', 'b']

In [ ]:
a = ["a", "b", "c"]
print(a)
a.clear()
print(a)

['a', 'b', 'c']
[]

Tuple in Python

TUPLE

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

In [ ]:
a = ("a", "b", "c", "d")
print(a)

('a', 'b', 'c', 'd')

In [ ]:
a = ("Ayan", 14, False, 12.5)
print(a)

('Ayan', 14, False, 12.5)

In [ ]:
a = ("a", "b", "c", "d")
print(a[1])

b

In [ ]:
a = ("a", "b", "c", "d")
print(a[3])

d

In [ ]:
#     0    1    2
a = ("a", "b", "c")
#    -3   -2   -1
print(a[1])
print(a[-2])

b
b

In [ ]:
#     0    1    2    3    4    5
a = ("a", "b", "c", "d", "e", "f")
#    -6   -5   -4   -3   -2   -1

print(a[0:5:2])
# print(a[-2])

('a', 'c', 'e')

In [ ]:
#     0    1    2    3    4    5
a = ("a", "b", "c", "d", "e", "f")
b = ["a", "b"]
#    -6   -5   -4   -3   -2   -1
print(type(a))
print(type(b))

<class 'tuple'>
<class 'list'>

In [ ]:
a = ("a",) # It's a tuple
b = ("a") # It's not a tuple
print(type(a))
print(type(b))

<class 'tuple'>
<class 'str'>

In [ ]:
a = tuple(("a",))
b = tuple(("a"))
# print(a)
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [ ]:
a = tuple(("a", "b"))


print(type(a))
print(a)

<class 'tuple'>
('a', 'b')

In [ ]:
a = ("a", "b", "c", "d")
b = ["a", "b"]
b.append("e")
print(b)

['a', 'b', 'e']